[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = https://github.com/hussein-aitlahcen/.spacemacs.d.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule ".config/nixpkgs/overlays/nixpkgs-stackage"]
	path = .config/nixpkgs/overlays/nixpkgs-stackage
	url = https://github.com/haitlahcen/nixpkgs-stackage
